<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route frontName="hunters_multifeed" id="hunters_multifeed">
			<module before="Magento_Backend" name="Hunters_MultiFeed"/>
		</route>
	</router>
</config>
